.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  // width: 100%;
 

  @media screen and (min-width: 480px){
      width: 480px;
  }

  @media screen and (min-width: 768px){
      width: 768px;
      position: relative;
  }

  @media screen and (min-width: 1200px){
      width: 1200px;
  }
}

.footer-container {
    margin-left: auto;
    margin-right: auto; 
    padding-left: 15px;
    padding-right: 15px;
    // @media screen and (min-width: 480px){
    //     align-items: center;
    //     justify-content: center;
    // }
    // @media screen and (min-width: 768px){
    //     display: flex;
    //     }

        @media screen and (min-width: 1200px){
        margin-top: 0;
        margin-bottom: 0;
        
        width: 1200px;
        }
}

// @media screen and (min-width: 1170px){
//   .container{ 
//     width: 1600px;
    
//     margin: 0;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     margin-left: auto;
//     margin-right: auto;
//     }
//   }


 .porfolio-set{
    @extend %list;
    justify-content: center;
    padding-bottom: 94px;
      @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
      }

      @media screen and (min-width: 1200px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
      }
 }
