.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  // width: 100%;
 

  @media screen and (min-width: 480px){
      width: 480px;
  }

  @media screen and (min-width: 768px){
      width: 768px;
  }

  @media screen and (min-width: 1200px){
      width: 1200px;
  }
}

// @media screen and (min-width: 1170px){
//   .container{ 
//     width: 1600px;
    
//     margin: 0;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     margin-left: auto;
//     margin-right: auto;
//     }
//   }


 
