  .divace {
    display: flex;

     &-title {
    @extend %text-title;
  }

  &-card {
    display: block;
    margin-left: 30px;
    position: relative;

  &:first-child {
    margin-left: 0px;
  }

  .desctop-img,
  .mobile-img,
  .monitor-img {
    display: block;
  }
 }
&-subtitle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: $primaryWhite-color;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    padding: 27px;
    background-position: bottom;
  }
}
