
.title {
  @extend %text-styleHero;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 118px;
  padding-bottom: 30px;
  color: $primaryWhite-color;
}

.button {
  @extend %button;
  height: 50px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


  &:hover,
  &:focus {
      background-color: $primaryWhite-color;
      color: $accent-color;
      border-color:$accent-color;
      outline: none;
}
}