.header-logo {
    @extend %style-logo;
    @extend %list;
   
    padding-top: 16px;
    color: $accent-color;
    text-decoration: none;    
    .accent {
      color: $titleText-color;
    }
    
  }

  @media screen and (min-width: 480px){
       
      }    
  @media screen and (min-width: 768px){
        .header-logo {
            padding-top: 26px;
            padding-left: 26px;
    }
}

  @media screen and (min-width: 1200px){
        .header-logo {
            padding-top: 24px;
            padding-left: 25px;
    }
}
  
  .footer-logo {
    @extend %style-logo;
    color: $accent-color;
    text-decoration: none;
       
    @media screen and (min-width: 1200px){
          font-size: 24px;
        }

    .accent {
      color: $primaryWhite-color;
    }
  }