.page-header {
 position: relative; 
  border-bottom: 2px solid #ececec;
}

.page-header .nav{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;    
      
@media screen and (min-width: 768px){
 
  min-height: 80px;
}

@media screen and (min-width: 1200px){
  min-height: 80px;
  }
}

.menu-button{
  display: inline-flex;
  
  // margin-left: auto;
  padding-left: 236px;
  padding-top: 10px;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px){
 
    display: none;
  }
}
  .menu-button .icon-menu{
      display: none;
    }

    .menu-button.is-open .icon-menu{
      display: block;
      
    }

    .menu-button.is-open .icon-close{
      display: none;
    }
.menu-container{
  
  text-align: center;
  @media screen and (max-width: 767px){
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  @media screen and (min-width: 768px){
 
    display: flex;
  }
}
.navigation-set{
  @extend %list;
  // @extend %style-header;
  padding-top: 62px;
  padding-bottom: 60px;
}
  .navigation-item{
      position: relative;
      // margin-left: 85px;
      padding-top: 32px;
      // padding-bottom: 50px;
           
    }


  .link{

    @extend %link;
    color: $titleText-color;
    @include transition (color);
    
     
   &:hover,
   &:focus{
    color: $accent-color;
    fill: $accent-color;
  } 
}

.contact{
  display: flex;
  margin-left: auto;
}

  .contact-navigation{
    @extend %style-header;
    padding-bottom: 16px;
    justify-content: center;
    font-style: 400;

font-size: 21px;

    .link{

      @extend %link;
      color: $titleText-color;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
   &:hover,
   &:focus{
    color: $accent-color;
    fill: $accent-color;
  } 
}

  .icon-mail {
    height: 12px;
    margin-right: 10px;
    background-size: contain;
  }
  .icon-telefon {
    width: 10px;
    height: 15px;
    margin-right: 10px;
  }

  // &:last-child{
  //   margin-left: 30px;
  // }
}