%link{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}

%list{
  list-style: none;
  padding: 0;
  margin: 0;
}

%is-hidden{
  margin-top: 0;
  margin-bottom: 0;
  visibility: hidden;
}


%style-header{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
    color: $primaryText-color;
    
}

%style-logo{
  font-family: $fontFamily;
  font-weight: $logoWeight;
  font-size: $logoSize;
}

%text-styleHero{
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

%text-title{
  // text-align: center;
  font-style: 700;
  font-size: 28px;
  line-height: 1.17;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 30px;
}

%button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  color: $primaryWhite-color;
  background-color: $accent-color;
  border: 1px solid transparent;
  font-weight: 700;
}
%img{
  display: block;
  max-width: 100%;
}