$titleText-color: #212121;
$primaryText-color: #757575;
$accent-color: #2196f3;
$primaryWhite-color: #ffffff;
$secondaryBg-color: #f5f4fa;

$fontFamily: Roboto, sans-serif;
$logoWeight: 700;
$logoSize: 26px;