$titleText-color: #212121;
$primaryText-color: #757575;
$accent-color: #2196f3;
$primaryWhite-color: #ffffff;
$secondaryBg-color: #f5f4fa;

$fontFamily: Roboto, sans-serif;
$logoWeight: 700;
$logoSize: 26px;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $primaryWhite-color;
  color: $titleText-color;
  font-family: $fontFamily;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.is-hidden {
  margin-top: 0;
  margin-bottom: 0;
  visibility: hidden;
}


// footer {

//   margin-top: 60px;
//   // margin-bottom: 0;
//   // margin-left: auto;
//   // margin-right: auto;
//   background-color: #2f303a;
// }

// .portfolio::after,
// .studio::after {
//   content: "";
//   display: block;
//   width: 100%;
//   height: 4px;
//   position: absolute;
//   bottom: -1px;
//   background-color: $accent-color;
//   border-radius: 2px;
// }